<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starso.job.modules.summary.mapper.ServiceOpenSituationMapper" >

    <resultMap id="BaseResultMap" type="com.starso.system.api.domain.ServiceOpenSituation" >
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="serviceId"    column="service_id"    />
        <result property="service"    column="service"    />
        <result property="serviceName"    column="service_name"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="openState"    column="open_state"    />
        <result property="status"    column="status"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="type"    column="type"    />
        <result property="count"    column="count"    />
    </resultMap>

    <sql id="Base_Column_List" >
        id, warn_content, send_status, send_time, status, detail_report_url, detail_report_name,
        create_id, create_time, update_id, update_time,warn_title
    </sql>

    <sql id="Base_Column_List2" >
        w.id, w.warn_content, w.send_status, w.send_time, w.status, w.detail_report_url, w.detail_report_name,
        w.create_id, w.create_time, w.update_id, w.update_time,w.warn_title,w.file_id fileId
    </sql>

    <select id="selectserviceOpenSituationServiceList"  resultMap="BaseResultMap">
        SELECT
            service_id,
            service_name,
            open_state,
            count,
            service
        FROM
            service_open_situation
    </select>


    <insert id="insertList" parameterType="com.starso.system.api.domain.ServiceItemStatusRel">
        insert into service_open_situation (id, service_id, open_state,create_id,type,count,service_name,service)
        values
        <foreach collection="sSCustomerServiceRelList" item="item" separator=",">
            (MD5(UUID()), #{item.serviceId,jdbcType=VARCHAR},#{item.openState,jdbcType=VARCHAR}, #{item.createId,jdbcType=VARCHAR},
            #{item.type},#{item.count},#{item.serviceName},#{item.service})
        </foreach>
    </insert>

    <delete id="deleteAllData">
        delete from service_open_situation
    </delete>

</mapper>