<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starso.job.modules.report.mapper.TbReportMapper" >


    <update id="saveReportBatch" parameterType="list">
        replace into s_report (id,task_id,type,task_name,report_name,template_id,service_brand
        ,report_time,begin_time,end_time,send_over_time,source,test_task_id,status,delivery_manager
        ,report_file,old_report_file,send_flag,send_time,send_user,last_report_time
        ,last_upload_time,upload_user,create_by,create_time,update_by,update_time,spare1
        ,spare2,spare3,spare4,spare5,watermark_id)
        values
        <foreach collection="list" item="item"  separator="," >
            (#{item.id,jdbcType=VARCHAR},#{item.taskId,jdbcType=VARCHAR},#{item.type,jdbcType=VARCHAR},#{item.taskName,jdbcType=VARCHAR},
            #{item.reportName,jdbcType=VARCHAR},#{item.templateId,jdbcType=VARCHAR},#{item.serviceBrand,jdbcType=VARCHAR},
            #{item.reportTime,jdbcType=TIMESTAMP},#{item.beginTime,jdbcType=TIMESTAMP},#{item.endTime,jdbcType=TIMESTAMP},
            #{item.sendOverTime,jdbcType=TIMESTAMP},#{item.source,jdbcType=CHAR},#{item.testTaskId,jdbcType=VARCHAR},
            #{item.status,jdbcType=CHAR},#{item.deliveryManager,jdbcType=VARCHAR},#{item.reportFile,jdbcType=VARCHAR},
            #{item.oldReportFile,jdbcType=VARCHAR},#{item.sendFlag,jdbcType=CHAR},#{item.sendTime,jdbcType=TIMESTAMP},
            #{item.sendUser,jdbcType=VARCHAR},#{item.lastReportTime,jdbcType=TIMESTAMP},#{item.lastUploadTime,jdbcType=TIMESTAMP},
            #{item.uploadUser,jdbcType=VARCHAR},#{item.createBy,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateBy,jdbcType=VARCHAR},#{item.updateTime,jdbcType=TIMESTAMP},#{item.spare1,jdbcType=VARCHAR},
            #{item.spare2,jdbcType=VARCHAR},#{item.spare3,jdbcType=VARCHAR},#{item.spare4,jdbcType=VARCHAR},#{item.spare5,jdbcType=VARCHAR},
            #{item.watermarkId,jdbcType=VARCHAR})
        </foreach>
    </update>
    <delete id="deleteReportType">
        delete from s_report_type
    </delete>

    <insert id="saveReportTypeBatch" parameterType="list">
        insert into s_report_type(id,type_name,status,source,remark,create_by,create_time,update_by,update_time)
        values
        <foreach collection="list" item="item"  separator="," >
            (#{item.id,jdbcType=VARCHAR},#{item.typeName,jdbcType=VARCHAR},#{item.status,jdbcType=VARCHAR},#{item.source,jdbcType=VARCHAR},
            #{item.remark,jdbcType=VARCHAR},#{item.createBy,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateBy,jdbcType=VARCHAR},#{item.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <select id="selectMaxSendTime" resultType="String">
        select DATE_FORMAT(max(send_time), '%Y-%m-%d %T' ) send_time from s_report where status = '1'
    </select>

    <delete id="deleteReportDayTask">
        delete from s_report_day_task
    </delete>

    <insert id="saveReportDayTaskBatch" parameterType="list">
        insert into s_report_day_task(id,customer_id,type,task_name,content_show,report_detail,report_time,
        report_type,start_time,end_time,status,open_state,create_by,create_time,update_by,update_time,
        spare1,spare2,spare3,spare4,spare5)
        values
        <foreach collection="list" item="item"  separator="," >
            (#{item.id,jdbcType=VARCHAR},#{item.customerId,jdbcType=VARCHAR},#{item.type,jdbcType=VARCHAR},#{item.taskName,jdbcType=VARCHAR},
            #{item.contentShow,jdbcType=VARCHAR},#{item.reportDetail,jdbcType=VARCHAR},#{item.reportTime,jdbcType=VARCHAR},
            #{item.reportType,jdbcType=VARCHAR},#{item.startTime,jdbcType=TIMESTAMP},#{item.endTime,jdbcType=TIMESTAMP},#{item.status,jdbcType=VARCHAR},
            #{item.openState,jdbcType=VARCHAR},#{item.createBy,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP},#{item.updateBy,jdbcType=VARCHAR},
            #{item.updateTime,jdbcType=TIMESTAMP},#{item.spare1,jdbcType=VARCHAR},#{item.spare2,jdbcType=VARCHAR},#{item.spare3,jdbcType=VARCHAR},
            #{item.spare4,jdbcType=VARCHAR},#{item.spare5,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <select id="getReportDayTask" resultType="com.starso.system.api.domain.TbReportDayTask">
        select * from s_report_day_task
    </select>

</mapper>
