<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starso.job.modules.screen.mapper.LogSourceStatusMapper" >


    <insert id="insertList" parameterType="java.util.List">
        insert into log_source_status (id, cdev_ip, log_num_twenty_four,cdev_type,create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.cdevip,jdbcType=VARCHAR},#{item.logNumTwentyFour,jdbcType=VARCHAR},
            #{item.cdevtype,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <delete id="deleteDataByTime"  parameterType="long">
        delete from log_source_status  where  #{time}  > create_time
    </delete>

</mapper>