<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starso.job.modules.vuln.mapper.ScreenDataMapper" >

	<insert id="insertSeimLogs" parameterType="com.starso.system.api.domain.SeimLogsData" >
		insert into seim_logs_amount(id,amount) values (#{id,jdbcType=BIGINT},#{amount,jdbcType=BIGINT})
	</insert>

	<insert id="insertSeimFailedLogs" parameterType="com.starso.system.api.domain.SeimFailedLogsData" >
		insert into seim_failed_logs_amount(id,amount) values (#{id,jdbcType=BIGINT},#{amount,jdbcType=BIGINT})
	</insert>

	<insert id="updateScreenData" parameterType="com.starso.system.api.domain.SeimLogsData" >
		update screen_data  set update_time =now(),param_value =
			(select sum(amount)/30 from seim_logs_amount where id>=unix_timestamp(DATE_SUB(now(),INTERVAL 30 DAY))*1000)
        where param_type ='2_RiJunAnQuanShuLiang';
	</insert>

	<insert id="updateScreenData24" parameterType="com.starso.system.api.domain.SeimLogsData" >
		update screen_data  set update_time =now(),param_value =
		(select sum(amount) from seim_logs_amount where id>=unix_timestamp(DATE_SUB(now(),INTERVAL 24 HOUR))*1000)
		where param_type ='2_GuoQu24hAnQuanShuJu';
	</insert>

	<insert id="updateScreenData30" parameterType="com.starso.system.api.domain.SeimLogsData" >
		update screen_data  set update_time =now(),param_value =
		(select sum(amount) from seim_logs_amount where id>=unix_timestamp(DATE_SUB(now(),INTERVAL 30 DAY))*1000)
		where param_type ='5_SEIMOriginalAlertNum';
	</insert>

	<insert id="insertSeimEsInfo" parameterType="com.starso.job.modules.screen.domain.SeimEsInfo">
		insert into seim_es_info(id,time,type,amount,content) values (#{id,jdbcType=VARCHAR},#{time,jdbcType=BIGINT},#{type,jdbcType=VARCHAR},#{amount,jdbcType=BIGINT},#{content,jdbcType=VARCHAR})
	</insert>

	<select id="selectDifferTime" resultType="int">
	select timestampdiff(HOUR,FROM_UNIXTIME(#{maxTime}/1000),#{nowTime})
	</select>

	<select id="selectMaxId" resultType="String">
		select max(id) from seim_logs_amount
	</select>

	<select id="selectSeimFailedLogsAmountMaxId" resultType="String">
		select max(id) from seim_failed_logs_amount
	</select>
</mapper>
