<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starso.job.modules.screen.mapper.SeimEsLogMapper">
  <resultMap id="BaseResultMap" type="com.starso.job.modules.screen.domain.SeimEsLog">
  </resultMap>

  <insert id="insertList" parameterType="java.util.List">
    insert into seim_es_log (id, cevent_name, imerge_count,csrcip, cdstip, loccur_time,cevent_type)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR}, #{item.ceventName,jdbcType=VARCHAR},#{item.imergeCount,jdbcType=VARCHAR},
      #{item.csrcip,jdbcType=VARCHAR}, #{item.cdstip,jdbcType=VARCHAR}, #{item.loccurTime,jdbcType=TIMESTAMP}
      , #{item.ceventType,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

    <select id="getRealTimeLogStatus" resultType="map">
    SELECT
        cevent_name,
        cevent_type,
        csrcip,
        cdstip,
        date_format( loccur_time, '%Y-%m-%d %T' ) loccur_time,
        imerge_count
    FROM
        seim_es_log
    WHERE cevent_name is not null AND cevent_name != ''
   </select>

    <delete id="deleteAllData" >
        delete from seim_es_log
    </delete>

    <insert id="insertSeimEsCeventType" parameterType="com.starso.system.api.domain.SeimEsCeventType">
        insert into seim_es_cevent_type(id,time,cevent_type,amount)
        values (#{id,jdbcType=VARCHAR},#{time,jdbcType=BIGINT},#{ceventType,jdbcType=VARCHAR},#{amount,jdbcType=BIGINT})
    </insert>

    <select id="getAllAmount" resultType="java.lang.Integer" parameterType="java.util.Date">
        SELECT IFNULL(SUM(amount),0) amount FROM seim_logs_amount
        WHERE `id` > UNIX_TIMESTAMP(#{startTime,jdbcType=TIMESTAMP})*1000 AND `id` <![CDATA[<=]]> UNIX_TIMESTAMP(#{endTime,jdbcType=TIMESTAMP})*1000
    </select>

    <select id="getTypeAmount" resultType="com.starso.system.api.domain.SeimEsCeventType" parameterType="java.util.Date">
        SELECT cevent_type,SUM(amount) amount FROM seim_es_cevent_type
        WHERE `time` > UNIX_TIMESTAMP(#{startTime,jdbcType=TIMESTAMP})*1000 AND `time` <![CDATA[<=]]> UNIX_TIMESTAMP(#{endTime,jdbcType=TIMESTAMP})*1000
        GROUP BY cevent_type
    </select>

    <select id="getDictLabel" resultType="java.lang.String" parameterType="java.lang.String">
        select dict_label from dictionary_data where dict_type = 'ceventtype' and dict_value = #{i,jdbcType=VARCHAR}
    </select>

</mapper>