<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starso.job.modules.workday.mapper.SossWorkdayMapper" >
  <resultMap id="BaseResultMap" type="com.starso.system.api.domain.Workday" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="workday" property="workday" jdbcType="TIMESTAMP" />
    <result column="year" property="year" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,workday
  </sql>
  
  <delete id="deleteAll" >
    delete from soss_workday
  </delete>

  <insert id="insertBatch" parameterType="list" >
    insert into soss_workday(workday)
    values
    <foreach collection="list" item="item" separator=",">
    (#{item.workday,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  
  <insert id="insertBatchSsp">
    insert into s_workday(workday)
    select soss.workday from soss_workday soss
    where soss.workday >= DATE_ADD(curdate(),INTERVAL 1 DAY)
    and not exists(
    	select '' from s_workday s where soss.workday = s.workday
    )
  </insert>
  
  <insert id="insertBatchSspSpot">
    insert into s_workday_spot(workday)
    select soss.workday from soss_workday soss
    where soss.workday >= DATE_ADD(curdate(),INTERVAL 1 DAY)
    and not exists(
    	select '' from s_workday_spot s where soss.workday = s.workday
    )
  </insert>
  <insert id="insertBatchSspUnnormal">
    insert into s_workday_unnormal(workday)
    select soss.workday from soss_workday soss
    where soss.workday >= DATE_ADD(curdate(),INTERVAL 1 DAY)
      and not exists(
      select '' from s_workday_unnormal s where soss.workday = s.workday
    )
  </insert>

  <select id="selectByWorkday" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_workday
    where workday = #{day,jdbcType=VARCHAR}
  </select>
  <select id="selectBySpotWorkday" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_workday_spot
    where workday = #{day,jdbcType=VARCHAR}
  </select>
  <select id="selectByUnnormalWorkday" resultType="com.starso.system.api.domain.Workday">
    select
    <include refid="Base_Column_List" />
    from s_workday_unnormal
    where workday = #{day,jdbcType=VARCHAR}
  </select>

  <delete id="clearWorkday" >
    delete from s_workday where workday >= DATE_ADD(curdate(),INTERVAL 1 DAY)
  </delete>
  
  <delete id="clearSpotWorkday" >
    delete from s_workday_spot where workday >= DATE_ADD(curdate(),INTERVAL 1 DAY)
  </delete>
  <delete id="clearUnnormalWorkday">
    delete from s_workday_unnormal where workday >= DATE_ADD(curdate(),INTERVAL 1 DAY)
  </delete>
</mapper>