<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starso.job.modules.operation.mapper.OperationParamMapper" >
  <resultMap id="BaseResultMap" type="com.starso.job.modules.operation.domain.SParamValue" >
    <id column="param_id" jdbcType="VARCHAR" property="paramId" />
    <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
    <result column="decription" jdbcType="VARCHAR" property="decription" />
    <result column="create_id" jdbcType="VARCHAR" property="createBy" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="param_name" jdbcType="VARCHAR" property="paramName" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
  </resultMap>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.starso.job.modules.operation.domain.SParamValue">
    select
      param_id, param_value, decription, create_time, create_by, status, param_name,parent_id
    from s_param_value
    where param_id = #{paramId,jdbcType=VARCHAR} AND status = '1'
  </select>

  <sql id="Base_Column_List">
		param_id, param_value, decription,parent_id, create_time, status, param_name
	</sql>

  <select id="selectTimeInterval" parameterType="java.lang.String" resultType="java.util.Map">
    SELECT
    <if test="_parameter == 'event'">
      (SELECT param_value from s_param_value where param_id = 'event_zero_notice_interval') zeroInterval,
      (SELECT param_value from s_param_value where param_id = 'event_first_notice_interval') firstInterval,
      (SELECT param_value from s_param_value where param_id = 'event_second_notice_interval') secondInterval,
      (SELECT param_value from s_param_value where param_id = 'event_third_notice_interval') thirdInterval
    </if>
    <if test="_parameter == 'asset'">
      '1' zeroInterval,
      (SELECT param_value from s_param_value where param_id = 'asset_first_notice_interval') firstInterval,
      (SELECT param_value from s_param_value where param_id = 'asset_second_notice_interval') secondInterval,
      (SELECT param_value from s_param_value where param_id = 'asset_third_notice_interval') thirdInterval
    </if>
    from dual
  </select>

  <select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from s_param_value
    <where>
      status = '1' and param_id = #{paramId,jdbcType=VARCHAR}
    </where>
  </select>

  <update id="updateByPrimaryKeySelective" parameterType="com.starso.job.modules.operation.domain.SParamValue">
    update s_param_value
    <set>
      <if test="paramValue != null and paramValue != ''">
        param_value = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="decription != null and decription != ''">
        decription = #{decription,jdbcType=VARCHAR},
      </if>
      create_time = now(),
      <if test="createBy != null and createBy != ''">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="paramName != null and paramName != ''">
        param_name = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null and parentId != ''">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
    </set>
    where param_id = #{paramId,jdbcType=VARCHAR}
  </update>

</mapper>
