<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starso.job.modules.useCase.mapper.CaseUpdateTimesMapper" >

	<resultMap id="BaseResultMap" type="com.starso.job.modules.useCase.domain.CaseUpdateTimes">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="case_id" property="caseId" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="BIGINT" />
		<result column="times" property="times" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		id,case_id,update_time,times
	</sql>

	<insert id="insertCaseTimes" parameterType="com.starso.job.modules.useCase.domain.CaseUpdateTimes">
		insert case_update_times
		values (#{id,jdbcType=VARCHAR},#{caseId,jdbcType=VARCHAR},#{updateTime,jdbcType=BIGINT},1)
	</insert>
	<select id="selectUpdateNum" parameterType="com.starso.job.modules.useCase.domain.CaseUpdateTimes" resultType="int">
    	select IFNULL(sum(times),0) from case_update_times where update_time <![CDATA[>=]]> #{beginTime} and update_time <![CDATA[<=]]> #{endTime}
  	</select>
</mapper>