<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starso.job.modules.useCase.mapper.CaseUpdateNewMapper" >

	<resultMap id="BaseResultMap" type="com.starso.job.modules.useCase.domain.CaseUpdateNew">
		<id column="case_id" property="caseId" jdbcType="VARCHAR" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="BIGINT" />
	</resultMap>

	<sql id="Base_Column_List">
		case_id,last_update_time
	</sql>

	<select id="selectCaseUpdateRecord" resultMap="BaseResultMap" parameterType="com.starso.job.modules.useCase.domain.CaseUpdateNew">
		select
			<include refid="Base_Column_List"/>
		from case_update_new
		where case_id = #{caseId,jdbcType=VARCHAR}
	</select>

	<update id="updateCaseRecord" parameterType="com.starso.job.modules.useCase.domain.CaseUpdateNew">
		update case_update_new
		set last_update_time = #{lastUpdateTime,jdbcType=BIGINT}
		where case_id = #{caseId,jdbcType=VARCHAR}
	</update>

	<insert id="insertCaseRecord" parameterType="com.starso.job.modules.useCase.domain.CaseUpdateNew">
		insert case_update_new
		values (#{caseId,jdbcType=VARCHAR},#{lastUpdateTime,jdbcType=BIGINT})
	</insert>
</mapper>