<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starso.job.modules.vuln.mapper.ScreenDataMapper" >

    <update id="updateJianCe" parameterType="java.lang.String">
        update screen_data
        set update_time = now(),param_value =now()
        where param_type = #{paramType,jdbcType=VARCHAR}
    </update>

    <update id="updateVulnNum" parameterType="com.starso.job.modules.screen.domain.SossSendDataValue">
        update screen_data
        set param_value = #{paramValue,jdbcType=VARCHAR},update_time = now()
        where param_type = #{paramType,jdbcType=VARCHAR}
    </update>

</mapper>