<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starso.job.modules.vuln.mapper.VulnNoticeSendRecordMapper" >
    <insert id="insertBatch" parameterType="list">
        insert into vuln_notice_send_record (id, user_id, mobile_phone_no,
        email, send_type,
        send_time, update_time, status,
        remarks, notice)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.userId,jdbcType=VARCHAR}, #{item.mobilePhoneNo,jdbcType=BIGINT},
            #{item.email,jdbcType=VARCHAR}, #{item.sendType,jdbcType=VARCHAR},
            #{item.sendTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}, '0',
            #{item.remarks,jdbcType=VARCHAR}, #{item.notice,jdbcType=LONGVARCHAR})
        </foreach>
    </insert>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update vuln_notice_send_record
            set
            status = '3',
            msg = #{item.errorMsg,jdbcType=VARCHAR}
            where id = #{item.recordId,jdbcType=VARCHAR}
        </foreach>
    </update>

    <select id="selectNotUpdatedRecord" resultType="java.lang.String">
        select id
        from vuln_notice_send_record
        where status = '0' AND NOW() &lt;= DATE_ADD(send_time,INTERVAL ${timeout} HOUR)
    </select>

    <update id="updateSendStatus" parameterType="list">
        <foreach collection="list" item="item"  separator=";" >
            update vuln_notice_send_record
            <set>
                wechat_status=#{item.wechatStatus,jdbcType=CHAR},
                phone_status=#{item.phoneStatus,jdbcType=CHAR},
                email_status=#{item.emailStatus,jdbcType=CHAR},
                status=#{item.status,jdbcType=CHAR},
                update_time=#{item.updateTime,jdbcType=TIMESTAMP},
                accept_time=#{item.acceptTime,jdbcType=TIMESTAMP}
            </set>
            where id = #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>

</mapper>
