<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starso.job.modules.vuln.mapper.VulnBusinessFileMapper">
    <resultMap id="BaseResultMap" type="com.starso.job.modules.vuln.domain.VulnBusinessFile" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="vuln_business_id" property="vulnBusinessId" jdbcType="VARCHAR" />
        <result column="file_id" property="fileId" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="CHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        f.id, f.vuln_business_id, f.file_id, f.status
    </sql>

    <select id="selectFileListByVulnBusinessId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from vuln_business_file f
        where f.vuln_business_id = #{vulnBusinessId,jdbcType=VARCHAR} and f.status = 1
    </select>
</mapper>