<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starso.job.modules.dataTimer.mapper.SeimLogAmountIpMapper" >

	<insert id="insertSeimLogAmountIp" parameterType="com.starso.system.api.domain.SeimLogAmountIp">
		insert into seim_log_amount_ip(id,cdevip,cdevname,amount)
		values(#{id,jdbcType=BIGINT},#{devIp,jdbcType=VARCHAR},#{devName,jdbcType=VARCHAR},#{amount,jdbcType=BIGINT})
	</insert>

	<insert id="insertList" parameterType="java.util.List">
		insert into seim_log_amount_ip (id,cdevip,cdevname,amount)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.id,jdbcType=VARCHAR}, #{item.cdevip,jdbcType=VARCHAR},#{item.cdevname,jdbcType=VARCHAR},#{item.amount,jdbcType=BIGINT})
		</foreach>
	</insert>

	<delete id="deleteDataByTime" parameterType="long">
		delete from seim_log_amount_ip where   DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL ${day} DAY), '%Y-%m-%d') >= FROM_UNIXTIME(id/1000,'%Y-%m-%d')
	</delete>

	<select id="selectSeimLogAmountIp" resultType="com.starso.system.api.domain.SeimLogAmountIp">
		select id,cdevip,cdevname,sum(amount)  amount from seim_log_amount_ip
		where FROM_UNIXTIME(id/1000,'%Y-%m-%d') >= DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL ${day} DAY), '%Y-%m-%d')
		group by id,cdevip
	</select>


	<select id="selectMaxId" resultType="String">
		select max(id) from seim_log_amount_ip
	</select>
</mapper>
