<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starso.job.modules.dataTimer.mapper.SspEventSuspiciousObjectMapper">

    <resultMap id="BaseResultMap" type="com.starso.system.api.domain.SspEventSuspiciousObject">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="event_id" property="eventId" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="is_related" property="isRelated" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        eso.id, eso.event_id, eso.`type`, eso.content, eso.description, eso.ioc, eso.is_related, eso.status, eso.create_time, eso.update_time
    </sql>

  <select id="selectEventSuspiciousObject" resultType="com.starso.system.api.domain.SspEventSuspiciousObject">
      select <include refid="Base_Column_List"/>,su.user_name create_by,u.user_name update_by
      from event_suspicious_object eso
      LEFT JOIN sys_user su ON eso.create_by = su.user_id AND su.status = '1'
      LEFT JOIN sys_user u ON eso.update_by = u.user_id AND u.status = '1'
      where eso.status = '1'
      <if test="updateTime != null">
          AND eso.update_time >= #{updateTime, jdbcType=TIMESTAMP}
      </if>
  </select>
</mapper>