<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starso.job.modules.dataTimer.mapper.SspSeimLogsAmountMapper">
  <resultMap id="BaseResultMap" type="com.starso.system.api.domain.SeimLogsAmount">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
  </resultMap>

  <select id="selectSeimLogAmount" resultType="com.starso.system.api.domain.SeimLogsAmount" parameterType="com.starso.job.modules.dataTimer.domain.SspSendData">
    select id,amount from seim_logs_amount
    <if test="sendTime!=null">
      where id >= unix_timestamp(#{sendTime})*1000
    </if>
    <if test="sendTime==null">
      where id >= unix_timestamp(DATE_SUB(CURDATE(), INTERVAL 30 DAY))*1000
    </if>
  </select>

  <select id="selectSeimFailedLogAmount" resultType="com.starso.system.api.domain.SeimLogsAmount" parameterType="com.starso.job.modules.dataTimer.domain.SspSendData">
    select id,amount from seim_failed_logs_amount
    <if test="sendTime!=null">
      where id >= unix_timestamp(#{sendTime})*1000
    </if>
    <if test="sendTime==null">
      where id >= unix_timestamp(DATE_SUB(CURDATE(), INTERVAL 30 DAY))*1000
    </if>
  </select>



</mapper>