<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starso.job.modules.dataTimer.mapper.SspWorkbenchAlertInfoMapper">
    <resultMap id="BaseResultMap" type="com.starso.job.modules.alert.domain.WorkbenchAlertInfo">
      <id column="id" jdbcType="VARCHAR" property="id" />
      <result column="alert_no" jdbcType="BIGINT" property="alertNo" />
      <result column="title" jdbcType="VARCHAR" property="title" />
      <result column="priority" jdbcType="CHAR" property="priority" />
      <result column="dev_ip" jdbcType="VARCHAR" property="devIp" />
      <result column="dev_name" jdbcType="VARCHAR" property="devName" />
      <result column="dev_type" jdbcType="VARCHAR" property="devType" />
      <result column="alert_src" jdbcType="CHAR" property="alertSrc" />
      <result column="status" jdbcType="CHAR" property="status" />
      <result column="stage" jdbcType="CHAR" property="stage" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="description" jdbcType="LONGVARCHAR" property="description" />
      <result column="source" jdbcType="VARCHAR" property="source" />
      <result column="csrcip" jdbcType="VARCHAR" property="csrcip" />
      <result column="cdstip" jdbcType="VARCHAR" property="cdstip" />
      <result column="idstport" jdbcType="INTEGER" property="idstport" />
      <result column="domain" jdbcType="VARCHAR" property="domain" />
      <result column="get_time" jdbcType="TIMESTAMP" property="getTime" />
      <result column="ruid" jdbcType="VARCHAR" property="ruid" />
      <result column="create_time2" jdbcType="TIMESTAMP" property="createTime2" />
      <result column="create_time3" jdbcType="TIMESTAMP" property="createTime3" />
      <result column="create_time4" jdbcType="TIMESTAMP" property="createTime4" />
      <result column="num" jdbcType="INTEGER" property="num" />
      <result column="recurrent_id" jdbcType="VARCHAR" property="recurrentId" />
      <result column="is_reappear" jdbcType="VARCHAR" property="isReappear" />
      <result column="reappear_num" jdbcType="INTEGER" property="reappearNum" />
      <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
      <result column="alert_user_id" jdbcType="VARCHAR" property="alertUserId" />
      <result column="is_epicycle_end" jdbcType="VARCHAR" property="isEpicycleEnd" />
      <result column="is_close" jdbcType="VARCHAR" property="isClose" />
      <result column="is_night" jdbcType="VARCHAR" property="isNight" />
      <result column="threat_score" jdbcType="INTEGER" property="threatScore" />
      <result column="reverse_domains" jdbcType="VARCHAR" property="reverseDomains" />
      <result column="location" jdbcType="VARCHAR" property="location" />
      <result column="reason" jdbcType="VARCHAR" property="reason" />
      <result column="score" jdbcType="INTEGER" property="score" />
      <result column="is_new" jdbcType="VARCHAR" property="isNew" />
      <result column="is_matching_mul" jdbcType="VARCHAR" property="isMatchingMul" />
      <result column="categories" jdbcType="VARCHAR" property="categories" />
    </resultMap>

    <sql id="Base_Column_List">
      t.id, t.alert_no, t.title, t.priority, t.dev_ip, t.dev_name, t.dev_type, t.alert_src, t.status, t.stage,
      t.create_time, t.description,t.csrcip,t.cdstip,t.idstport,t.domain,t.get_time,t.source,create_time2,create_time3,create_time4,
      num,recurrent_id,is_reappear,reappear_num,last_time,alert_user_id,is_epicycle_end,is_close,is_night,threat_score,reverse_domains,
      location,reason,score,is_new,is_matching_mul,categories
    </sql>

    <select id="selectSspWorkbenchAlertInfo" parameterType="com.starso.job.modules.alert.domain.WorkbenchAlertInfo" resultMap="BaseResultMap">
      select s.* from (
      select
      <include refid="Base_Column_List" />,GREATEST(ifnull(MAX(u.end_time),'2021-06-01'), MAX(u.assign_time), ifnull(t.del_time,'2021-05-01'), ifnull(t.get_time,'2021-05-01')) screen_time
      from workbench_alert_info t
      LEFT JOIN workbench_alert_user u on t.id = u.alert_id
      WHERE t.status != '0'
      group by t.id) s
      <if test="getTime != null">
          where screen_time >= #{getTime,jdbcType=TIMESTAMP}
      </if>
    </select>

    <select id="selectHandledAlertNumByDay" resultType="java.util.Map">
        SELECT sum(t.num) alertDealCount
        FROM (
            SELECT count(DISTINCT t.id) num
            FROM workbench_alert_info t
            INNER JOIN workbench_alert_user au ON t.id = au.alert_id AND au.`status` = '3' AND DATE(au.end_time) = CURDATE()
            INNER JOIN sys_user_role ur ON au.user_id = ur.user_id
            INNER JOIN sys_role r ON ur.role_id = r.role_id AND (r.role_key = 'permission:one' OR r.role_key = 'permission:onebak')
            WHERE t.status = '3'
              AND t.id NOT IN (SELECT DISTINCT(ea.alert_id) FROM event_alerts ea WHERE ea.STATUS = '1')
            UNION ALL
            SELECT count(DISTINCT t.id) num
            FROM workbench_alert_info t
            INNER JOIN event_alerts ea ON ea.alert_id = t.id AND ea.status = '1'
            INNER JOIN sys_user_role ur ON ea.create_by = ur.user_id
            INNER JOIN sys_role r ON ur.role_id = r.role_id AND (r.role_key = 'permission:one' OR r.role_key = 'permission:onebak')
            WHERE ea.reject_status = '0'
              and t.`status` != '0'
              AND DATE(ea.create_time) = CURDATE()
        ) t
    </select>

    <select id="selectUnHandledAlertNumByDay" resultType="java.util.Map">
        SELECT count(DISTINCT t.id) alertNodealCount
        FROM workbench_alert_info t
        INNER JOIN workbench_alert_user au ON t.id = au.alert_id AND au.`status` = '2'
        INNER JOIN sys_user_role ur ON au.user_id = ur.user_id
        INNER JOIN sys_role r ON ur.role_id = r.role_id AND (r.role_key = 'permission:one' OR r.role_key = 'permission:onebak')
        WHERE t.status = '2'
          AND t.id NOT IN (SELECT DISTINCT(ea.alert_id) FROM event_alerts ea WHERE ea.STATUS = '1')
    </select>

    <select id="selectUnAssignedAlertNumByDay" resultType="java.util.Map">
        SELECT count(1) alertNodivideCount FROM workbench_alert_info WHERE status = '1'
    </select>
    <select id="selectSspWorkbenchDeleteAlertInfo" resultType="java.lang.String">
        select id from workbench_alert_info where status='0'  and get_time &gt;= date_sub(now(), interval #{paramValue} day)
    </select>
</mapper>