<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starso.job.modules.setting.mapper.UserNoticeChannelMapper">
  <resultMap id="BaseResultMap" type="com.starso.system.api.domain.UserNoticeChannel">
    <result column="user_no" jdbcType="CHAR" property="userNo" />
    <result column="wechat_status" jdbcType="CHAR" property="wechat" />
    <result column="phone_status" jdbcType="CHAR" property="message" />
    <result column="email_status" jdbcType="CHAR" property="email" />
    <result column="voice_status" jdbcType="CHAR" property="phone" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="notice_channel_id" jdbcType="VARCHAR" property="noticeChannelId" />
  </resultMap>
  <sql id="Base_Column_List">
    t.id, t.user_id, IFNULL(t.wechat_status,0) wechat_status, IFNULL(t.phone_status,0) phone_status, IFNULL(t.email_status,0) email_status,
    IFNULL(t.voice_status,0) voice_status, t.create_by, t.create_time, t.update_by,t.update_time
  </sql>


  <select id="syncUserNoticeChannelList" resultMap="BaseResultMap" parameterType="com.starso.system.api.domain.UserNoticeChannel" >
    SELECT
    s_us.user_id,s_us.user_no, t.wechat_status,t.phone_status,t.email_status,t.voice_status,t.id notice_channel_id,t.update_time
    FROM sys_user s_us
    INNER JOIN s_user_send_type t on s_us.user_id = t.user_id
    WHERE s_us.status = 1
    <if test="syncTime !=null  and syncTime !=''">
      and t.update_time>#{syncTime}
    </if>
    <if test="userNo !=null  and userNo !=''">
      and s_us.user_no=#{userNo}
    </if>
  </select>


  <select id="syncUserNoticeChannel" resultMap="BaseResultMap" parameterType="com.starso.system.api.domain.UserNoticeChannel" >
    SELECT
    s_us.user_id,s_us.user_no, t.wechat_status,t.phone_status,t.email_status,t.voice_status,t.id notice_channel_id,t.update_time
    FROM sys_user s_us
    LEFT JOIN s_user_send_type t on s_us.user_id = t.user_id
    WHERE s_us.status = 1
    <if test="userNo !=null  and userNo !=''">
      and s_us.user_no=#{userNo}
    </if>
  </select>

  <insert id="insert" parameterType="com.starso.system.api.domain.UserNoticeChannel">
    insert into s_user_send_type (id, user_id, wechat_status,
      phone_status, email_status, voice_status,
      create_time, update_time
      )
    values (#{noticeChannelId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{wechat,jdbcType=CHAR},
      #{message,jdbcType=CHAR}, #{email,jdbcType=CHAR}, #{phone,jdbcType=CHAR},
      now(), now()
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.starso.system.api.domain.UserNoticeChannel">
    update s_user_send_type
    <set>
        wechat_status = #{wechat,jdbcType=CHAR},
        phone_status = #{message,jdbcType=CHAR},
        email_status = #{email,jdbcType=CHAR},
        voice_status = #{phone,jdbcType=CHAR},
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{noticeChannelId,jdbcType=VARCHAR}
  </update>
</mapper>
