<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starso.job.modules.alert.mapper.WorkbenchNoticeSendBatchMapper">

    <insert id="insert" parameterType="com.starso.job.modules.alert.domain.WorkbenchNoticeSendBatch">
        insert into workbench_notice_send_batch (id, batch_no, collect_status,
                                                 collect_time, call_status, remarks, notice_type)
        values (#{id,jdbcType=VARCHAR}, DATE_FORMAT(now(),'%Y%m%d%H%i%s'), #{collectStatus,jdbcType=CHAR},
                now(), #{callStatus,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}, #{noticeType,jdbcType=CHAR})
    </insert>
</mapper>
